
<!--Configurar flash
Cuando suceda algun error se persentaran errores en mensajes
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <%= locals.message %>
    </body>
</html>